.Sponsors {
    position: relative;
    display: flex;
    flex-flow: column;
    margin-top: max(120px, 10vw);
    text-align: center;
}

.SponsorsHeader {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 5vw;

    figure {
        margin-right: 5vw;
    }

    img {
        width: 45vw;
        border-radius: 15px;
    }

    figcaption {
        margin-top: 20px;
        font-size: 1.5vw;
        font-family: 'Montserrat', sans-serif;
    }
}

.ThankYouContainer {
    display: flex;
    flex-flow: column;
    align-items: start;
    margin-left: 5vw;
    margin-right: 14vw;

    h1 {
        font-weight: 700;
        font-size: 4vw;
        color: #292929;
    }

    p {
        margin-top: 2vw;
        font-weight: 400;
        font-size: 1.4vw;
        line-height: 2vw;
        color: #9d9d9d;
        max-width: 900px;
        text-align: left;
    }
}

.SponsorTier {
    display: flex;
    flex-flow: column;
    align-items: center;

    h2 {
        font-weight: 700;
        font-size: min(120px, 5.5vw);
        color: #292929;
    }

    p {
        margin-top: 2.5vw;
        font-weight: 400;
        font-size: min(45px, 2.0vw);
        color: #9d9d9d;
    }
}

.SponsorTierElementContainer {
    display: flex;
    flex-flow: column;
    gap: 7vh;
}

.EngineerSponsor {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 8vw;
    margin: 1vw 5vw 5vw;

    img { width: 25vw; }

    h3 {
        font-weight: 700;
        font-size: min(100px, 4.7vw);
        font-family: 'Montserrat', sans-serif;
        color: #292929;
    }

    p {
        font-size: 1.6vw;
    }
}

.EngineerSponsorLeft {
    text-align: right;
}

.EngineerSponsorRight {
    text-align: left;
}


.MechanicSponsor {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 30px;
    gap: 15vw;
    margin-left: 3vw;
    margin-right: 3vw;

    img { width: 20vw; }

    h3 {
        font-weight: 700;
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
        line-height: 85px;
        color: #292929;
        max-width: 880px;
    }
}